@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
:root
{
    --dark-color:#252525;
    --primary-color:#1E88E5;
    --light-color:#F2FAFA;
}
*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body
{
    font-family: 'Poppins', sans-serif;
    height: 200vh;
}
li,a
{
    list-style: none;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--dark-color);
}
span
{
    display: block;
}
img
{
    width: 100%;
}

#hero-header
{
    background-image: url('./img/hero-container.svg');
    width: 100%;
    height: 850px;
    background-position: center;
    background-size: cover;
    
    overflow: auto;
}
#hero-header >.container
{
    width: 100%;
    height: 60px;
    border-radius: 50px;
    background-color: #fff;
    padding: 30px 10px;
    margin-top: 40px;
}
#hero-header .container img
{
    width: 180px;
}

nav ul
{
    display: flex;
    gap: 30px;
}
nav ul li 
{
    font-size: 18px;
    font-weight:300;
}
nav ul li a:hover
{
    color: var(--primary-color);
}
.container .btn-call
{
    width: 200px;
    background-color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}

/* landing part */

.landing .grid
{
    grid-template-columns: 2fr 1fr;
    padding: 0%;
    

}
.landing .flex input
{
    justify-self: flex-start;
}
.landing .container img
{
    width: 500px !important;
}
.call
{
    position: relative;
}
.call .btn
{
    text-align: center;
}
.landing .landing-content
{
    width: 500px;
}
.landing .landing-content .flex input
{
    justify-content: flex-start;
    position: relative;
    left: -10%;
    
}
.call .control > img
{
    width: 35px !important;
    position: absolute;
    background-color: var(--primary-color);
    padding: 7px;
    border-radius: 50%;
    left: 87%;
    top: 13%;
    cursor: pointer;
    
}
.call .flex > .btn-primary
{
    height: 50px;
    padding-top: 13px;
}

/* banner */

.banner
{
    position: relative;
    top: -6%;
}
.banner .container
{
    width: 100%;
    height: 200px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    
}
.banner .container img
{
    width: 50px;
}
.banner .flex
{
    gap: 30px;
}

/* freelancer */

.freelancer
{
    position: relative;
}
.freelancer .right img
{
    width: 80%;
}
.freelancer .right .flex
{
    flex-direction: column;
    gap: 20px;
}
.freelancer .left
{
    /* justify-self: flex-start; */
    align-self: flex-start;
}
.freelancer .right .card
{
    position: absolute;
    top: 5%;
}
.freelancer .right .card:last-child
{
    top: 34%;
    left: 30%;
}
.freelancer .md,span
{
    color: var(--primary-color);
}

.freelancer span
{
    display: inline;
}